#Files Compilation VisualStudio
Projet/LaserTarget/Debug/
Projet/LaserTarget/Release/
Projet/LaserTarget/LaserTargetProject.opensdf
Projet/LaserTarget/LaserTargetProject.sdf
Projet/LaserTarget/LaserTargetProject.v12.suo
Projet/libXTools/*
Projet/libXTools/Debug/



*.obj
